body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ff9e3a; /* Cor de fundo personalizada */
}

.parabens-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.botao-atividade {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-atividade:hover {
    background-color: #ff4242;
}

/* Estilos personalizados para os botões */
.botao-casa {
    background-color: #48a360;
}

.botao-cinema {
    background-color: #3d79a6;
}

.botao-jantar {
    background-color: #ff9e3a;
}

.botao-jogos {
    background-color: #ab71c5;
}
